* {
    font-family: 'Work Sans', sans-serif;
}

:root {
    --h3color: #0B0223;
    --descolor: #534C64;
}

body {
    margin: 0;
}

.gradient {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* NAV SECTION */
nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 100px;
    display: flex;
    align-items: center;
}

.logo img {
    width: 80px;
    height: 40px;
}

.logo h3 {
    font-size: 2.8rem;
    font-weight: 700;
}

.logo-menu div {
    width: 220px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-menu img {
    width: 40px;
    height: 24px;
}

.logo-menu {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-right: 100px;
}

.logo-menu p {
    color: #3C354F;
    font-size: 1.12rem;
    font-weight: 500;
}

.logo-menu ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: var(--h3color);
}

/* Banner Section */

.banner-content h3 {
    color: var(--h3color);
    font-size: 3rem;

    font-weight: 600;

    text-transform: uppercase;
    margin-bottom: 0;
}

.banner-content h1 {
    font-size: 5.9rem;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
}

.banner-content p {
    color: var(--descolor);
    font-size: 1.25rem;
    font-weight: 500;

}

.btn-red {
    border-radius: 48px;
    background-color: #FF42A5;
    padding: 21px 40px;
    border: 0;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-blue {
    border-radius: 48px;
    background-color: #4EC5F7;
    padding: 21px 40px;
    border: 0;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 10px;
}

.banner-container {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    height: 550px;
    background-image: url('Group\ 14.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.banner-content {
    width: 50%;
}

.banner-img img {
    width: 100%;
    height: 100%;
}

/* ONLINE GAMES STYLES */

/* .online-games{
    display: none;
} */

.online-games h3 {
    color: var(--h3color);
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
}

.online-games>p {
    color: var(--descolor);
    font-size: 1.125rem;
    text-align: center;
    margin-bottom: 30px;
}

.box-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0px 100px;

}

.box1 {
    width: 342px;
    height: 400px;
    border-radius: 16px;
    background-image: url("../images/Rectangle4.png");
}
.box2 {
    width: 342px;
    height: 400px;
    border-radius: 16px;
    background-image: url("../images/Rectangle5.png");
}
.box3 {
    width: 342px;
    height: 400px;
    border-radius: 16px;
    background-image: url("../images/Rectangle7.png");
}
.box4 {
    width: 342px;
    height: 400px;
    border-radius: 16px;
    background-image: url("../images/Rectangle6.png");
}
.box-hover p{
    font-size: 1.25rem;
    color: #F948B2;
    font-weight: 600;
}
.box-hover {
    display: none;

    padding: 40%;
    position: relative;
   
  }
  
  .box3:hover .box-hover {
    border: 3px solid #F948B2;
    display: block;
    background-color: #08060c6b;
    height: 125px;
    border-radius: 16px;

  }
  .box1:hover .box-hover {
    border: 3px solid #F948B2;
    display: block;
    background-color: #08060c6b;
    height: 125px;
    border-radius: 16px;

  }
  .box2:hover .box-hover {
    border: 3px solid #F948B2;
    display: block;
    background-color: #08060c6b;
    height: 125px;
    border-radius: 16px;

  }
  .box4:hover .box-hover {
    border: 3px solid #F948B2;
    display: block;
    background-color: #08060c6b;
    height: 125px;
    border-radius: 16px;

  }

.box-container .box img {
    width: 100%;
    height: 100%;
}

.box p {
    width: 300px;
    margin: 0 auto;
}

/* Play Instantly Section */

.play-instantly{
    width: 1223px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background: #FFF;
}
.play-instantly-text{
    width: 50%;

}
.play-instantly-img{
    width: 50%;
}

.play-instantly-text h3{
    width: 350px;
    color: var(--h3color);
    font-size: 3rem;
    font-weight: 700;
    text-align: right;
    margin-bottom: 0;
    margin-top: 0;
}
.play-instantly-text p{
    width: 350px;
    text-align: right;
}
.play-instantly-text p{
color: var(--descolor);
font-size: 1.125rem;
}
.img1{
    width: 600px;
    height: 650px;
    border-radius: 8px;
}
.img2{
    width: 319px;
    height: 365px;
    border-radius: 8px;
    transform: translate(-150px, -300px);
}
.play-instantly-img img{
    width: 100%;
    height: 100%;
}
/* Button styles */
.button-container {
   
    /* margin-top: 120px; */
    width: 1100px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 60px;
  }
  
  .button {
    margin-top: 50px;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    color: var(--h3color);
    font-size: 1.25rem;
    font-weight: 600;
    background-color: #FFF;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .button:hover {
    border: 1px solid #F948B2;
    border-radius: 30px;
    color: #F948B2;
  }
  
  .button img {
    width: 50px;
    height: 50px;
  }
  
  .button p {
    margin: 10px 0;
    text-align: center;
  }

  /* Footer */
  footer{
    background: #0B0223;
    
  }
  footer div{
   text-align: center;
  }
  .logo-footer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo-footer img {
    width: 80px;
    height: 40px;
}

.logo-footer h3 {
    font-size: 2.8rem;
    font-weight: 700;
    color: white;
}
  .footer-menu ul{
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
  }
  .footer-menu a{
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
  }

  .footer-btn{
    margin-top: 60px;
    
  }
  .footer-btn > button{
    width: 50px;
    height: 50px;
    background: transparent;
    margin-right: 30px;
    cursor: pointer;
  }
  .footer-btn button>img{
    width: 100%;
    height: 100%;
  }
.footer-terms a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.footer-terms ul{
    display: flex;
    justify-content: center;
    gap: 50px;
}


/* Responsive for Mobile Device */
@media screen and (max-width: 576px) {

    nav {
        width: auto;
        height: auto;
        display: block;
        text-align: center;
        margin: 0 auto;
    }



    .logo {
        margin-bottom: -40px;
        display: flex;
        justify-content: center;
        margin-left: 0;
    }

    .logo-menu {
        display: block;
        margin-right: 0;
    }

    .logo-menu ul {
        display: block;
        margin-bottom: 30px;
    }

    .logo-menu div {
        margin: 0 auto;
    }

    /* Banner */

    .banner-container{
        display: block;
        text-align: center;
        padding: 0;
    }
    .banner-content {
        width: 100%;
    }

    /* Online Games */

    .online-games{
        margin-top: 300px;
    }

    .box-container{
        display: block;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    
        
    }

    /* Play Instantly */

    .play-instantly{
        width: fit-content;
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .play-instantly-img{
        width: 250px;
        height: 300px;
        margin: 0 auto;
    }
    .img1{
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .img2{
        width: 100px;
        height: 100px;
        transform: translate(-50px, -70px);
    }
    .play-instantly-text h3{
        text-align: center;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    .play-instantly p{
        text-align: center;
        width: 400px;
    }

    /* Button container */
    .button-container {
        width: 400px;
    }
    .button{
        flex-basis: 30%;
        font-size: 0.5rem;
    }

    /* Footer */
    .footer{
        width: fit-content;
    }
    .footer-menu ul{
        flex-wrap: wrap;
        padding: 0;
    }
    .footer-terms ul{
        flex-wrap: wrap;
        padding: 0;
    }

    .footer-btn{
        padding: auto;
    }



}

/* Responsive for Tablet */
@media screen and (min-width: 576px) and (max-width:992px) {

    .logo-menu {
        display: block;
    }

    .logo-menu div {
        padding-left: 45px;
    }
    .banner-container{
        display: block;
        text-align: center;
        padding: 0;
        margin-bottom: 600px;
    }
    .banner-content {
        width: 100%;
    }
    .online-games{
        margin-top: 300px;
    }

    .box-container{
        display: flex;
        flex-wrap: wrap;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    
        
    }

    /* Play Instantly */

    .play-instantly{
        width: fit-content;
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .play-instantly-img{
        width: 250px;
        height: 300px;
        margin: 0 auto;
    }
    .img1{
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .img2{
        width: 100px;
        height: 100px;
        transform: translate(-50px, -70px);
    }
    .play-instantly-text h3{
        text-align: center;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    .play-instantly p{
        text-align: center;
        width: 400px;
    }

    /* Button container */
    .button-container {
        width: 600px;
    }
    .button{
        flex-basis: 30%;
        font-size: 0.5rem;
    }

    /* Footer */
    .footer{
        width: fit-content;
    }
    .footer-menu ul{
        flex-wrap: wrap;
        padding: 0;
    }
    .footer-terms ul{
        flex-wrap: wrap;
        padding: 0;
    }

    .footer-btn{
        padding: auto;
    }
}